@model IEnumerable<webapp_travel_agency.Models.PacchettoViaggio>

@{
    ViewData["Title"] = "Index";
}

<h1>INDEX | Pacchetti viaggio disponibili online</h1>

<p>
    
    <a asp-action="Create"><button type="button" class="btn btn-success">Nuovo pacchetto</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePacchetto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlImmagine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePacchetto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo) &euro;
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlImmagine)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-primary">Modifica</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-info text-white">Dettagli</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger">Cancella</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
